[submodule "reduction/tests/data/liquidsreflectometer-data"]
	path = tests/data/liquidsreflectometer-data
	url = https://code.ornl.gov/sns-hfir-scse/infrastructure/test-data/liquidsreflectometer-data.git
