#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=mate-panel-launcher
Name[en_US]=NR Launcher
Exec=/SNS/REF_L/shared/launcher/nr_launcher.sh
Name=nr_launcher
Icon=mate-panel-launcher
